@import "color";

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & .btn {
    display: flex;
    width: 100%;
    margin: 0.5rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    justify-content: left;
    text-align: left;
    align-items: center;

    &:hover {
      opacity: .85;
      cursor: pointer;
    }

    &:active {
      opacity: .75;
    }

    &:focus {
      outline: none;
    }

    &-correct {
      background: $color-success;
      color: $color-success-light;
      border: 1px solid;
    }

    &-wrong {
      background: $color-secondary;
      color: $color-secondary-light;
      border: 1px solid;
    }

    &-nothing {
      background: $color-light;
      color: $color-dark;
      border: 1px solid $color-dark;
    }
  }
}